@import "tailwindcss";

:root {
  --color-yellow: #FCF6C5;
  --color-gray-light: #D4DADE;
  --color-gray: #B3BCC3;
  --color-gray-dark: #434B54;
  
  --text-primary: var(--color-gray-dark);
  --text-secondary: var(--color-gray);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-primary);
}
